.board {
    display: flex;
    flex-flow: column nowrap;

    &__row {
        display: flex;
        flex-flow: row nowrap;
    }

    &__cell {
        background-color: $elevation-bg-2;
        // border-color: $background-color;

        height: 30px;
        width: 30px;

        border-top: 1px solid $border-color;
        border-left: 1px solid $border-color;

        &:last-child {
            border-right: 1px solid $border-color;
        }

        &--ship {
            background-color: grey;
        }

        &--hit {
            background-color: red;
        }

        &--miss {
            background-color: mix($elevation-bg-2, #FFF);
        }
    }

    &:last-child {
        border-bottom: 1px solid $border-color;
    }
}   