.board {
    display: flex;
    flex-flow: column nowrap;

    &__row {
        display: flex;
        flex-flow: row nowrap;
    }

    &__cell {
        background-color: $color-cell;
        // border-color: $background-color;

        height: 40px;
        width: 40px;

        border-top: 1px solid $color-dark;
        border-left: 1px solid $color-dark;

        &:last-child {
            border-right: 1px solid $color-dark;
        }

        &--ship {
            background-color: grayscale($color-accent-dark);
        }

        &--hit {
            background-color: $color-danger;
        }

        &--miss {
            background-color: $color-base;
        }
    }

    &:last-child {
        border-bottom: 1px solid $color-dark;
    }
}   