.next-ship {
    display: flex;

    @include flex-item(column, nowrap);
    justify-content: center;
    align-items: center;

    &__header {
        font-size: $font-size * 2;
        border-bottom: 1px solid $color-dark;
    }
    &__length, &__orientation, &__swap-btn {
        font-size: $font-size * 1.5;
    }

    &__swap-btn {
        padding: 10px;
        border: 0;
        @include btn($color-accent-light, $color-base);
    }
}