.win-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.4);

    &__content {
        margin: 15% auto;
        border-radius: 10px;
        padding: 50px 20px;
        width: 30%;
        background-color: $color-dark;

        @include flex-item(column, nowrap);
        align-items: center;
    }

    &__winner {
        font-size: $font-size * 2;
        color: $color-base;
    }

    &__resetbtn {
        padding: 15px 30px;
        @include btn($color-accent-light, $color-dark);
        
        &:active {
            box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.8)
        }
    }
}